@font-face {
    font-family: 'piechart';
    src: url('pie_charts_for_maps-webfont.eot');
    src: url('pie_charts_for_maps-webfont.eot?#iefix') format('embedded-opentype'),
         url('pie_charts_for_maps-webfont.woff') format('woff'),
         url('pie_charts_for_maps-webfont.ttf') format('truetype'),
         url('pie_charts_for_maps-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Usage (15%): <span class="pie pie15"></span> */
.pie {font-family: 'piechart'}
.pie-0:before{content:'a'}
.pie-5:before{content:'b'}
.pie-10:before{content:'c'}
.pie-15:before{content:'d'}
.pie-20:before{content:'e'}
.pie-25:before{content:'f'}
.pie-30:before{content:'g'}
.pie-35:before{content:'h'}
.pie-40:before{content:'i'}
.pie-45:before{content:'j'}
.pie-50:before{content:'k'}
.pie-55:before{content:'l'}
.pie-60:before{content:'m'}
.pie-65:before{content:'n'}
.pie-70:before{content:'o'}
.pie-75:before{content:'p'}
.pie-80:before{content:'q'}
.pie-85:before{content:'r'}
.pie-90:before{content:'s'}
.pie-95:before{content:'t'}
.pie-100:before{content:'u'}
